.task-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.table-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(25rem / 14) 0 1rem;
}

.table-heading h3 {
    color: #9b7c0f;
    font-size: calc(24rem / 14);
}

.pagination {
    display: flex;
    align-items: center;
}

.pagination a[arrow^="arrow"] {
    background-image: url("/images/back-arrow.svg");
    background-size: cover;
    background-repeat: round;
    width: calc(18rem / 14);
    height: calc(18rem / 14);
}

.pagination a[disabled="true"] {
    opacity: 0.3;
    cursor: not-allowed;
}

.pagination a:not(:last-child) {
    margin-right: 1rem;
}

.pagination a:not(:first-child) {
    margin-left: 1rem;
}

.pagination a[arrow="arrow-forward"] {
    transform: rotate(180deg);
}

.pagination a {
    font-size: calc(18rem / 14);
    text-decoration: none;
}

.pagination a:hover {
    opacity: 0.7;

    transition: opacity 0.3s ease-out;
}

.pagination a.active {
    opacity: 0.7;

    text-decoration: underline;
}

.tasks-container {
    flex: 1;
    overflow: hidden;
    padding: 0 calc(25rem / 14) 1rem 1rem;
}

.tasks-container table {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    color: #9b7c0f;
}

.tasks-container thead tr,
.tasks-container tbody tr {
    display: flex;
}

.tasks-container thead {
    width: calc(100% - 0.4rem); /*-scroll*/
}

.tasks-container tbody {
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.tasks-container td,
.tasks-container th {
    border-right: calc(1.2rem / 14) solid #9b7c0f;
    border-bottom: calc(1.2rem / 14) solid #9b7c0f;
}

.tasks-container td:first-of-type,
.tasks-container th:first-of-type {
    border-left: calc(1.2rem / 14) solid #9b7c0f;
    border-right: none;
}

.tasks-container th {
    border-top: calc(1.2rem / 14) solid #9b7c0f;
    padding: calc(16rem / 14) 0;
}

.tasks-container td {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: calc(6rem / 14) 0;
}

.tasks-container th:first-of-type {
    border-radius: calc(10rem / 14) 0 0 0;
}

.tasks-container th:last-of-type {
    border-radius: 0 calc(10rem / 14) 0 0;
}

.tasks-container tr:last-of-type td:last-of-type {
    border-radius: 0 0 calc(10rem / 14) 0;
}

.tasks-container tr:last-of-type td:first-of-type {
    border-radius: 0 0 0 calc(10rem / 14);
}

.tasks-container th:first-of-type,
.tasks-container td:first-of-type {
    flex: 1 0 2%;
}
.tasks-container th:nth-of-type(2),
.tasks-container td:nth-of-type(2) {
    flex: 1 0 16%;
}
.tasks-container th:nth-of-type(3),
.tasks-container td:nth-of-type(3) {
    flex: 1 0 16%;
}
.tasks-container th:nth-of-type(4),
.tasks-container td:nth-of-type(4) {
    flex: 1 0 15%;
}
.tasks-container th:nth-of-type(5),
.tasks-container td:nth-of-type(5) {
    flex: 1 0 11%;
}
.tasks-container th:nth-of-type(6),
.tasks-container td:nth-of-type(6) {
    flex: 1 0 10%;
}
.tasks-container th:nth-of-type(7),
.tasks-container td:nth-of-type(7) {
    flex: 1 0 8%;
}

.status-1 {
    color: #2f8acb;
}
.status-2 {
    color: #b9920a;
}
.status-3 {
    color: #12bc23;
}
.status-4 {
    color: #938f8f;
}
.status-5 {
    color: #000000;
}

.priority-1 {
    color: #ed0101;
}
.priority-2 {
    color: #f29100;
}
.priority-3 {
    color: #2f8acb;
}
.priority-4 {
    color: #938f8f;
}
